# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment directories
env/
env/*

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
env/
moredataFiles/
moremoreplots/
newerData/
old_data/
plots/
presentationData/
data/
nba_api/
